@import "tailwindcss";
.line{
    border-top: 1px solid #B3B3B3;
}
.Start{
    border: 1px solid #212121;
}
.Arrow{
    rotate: 230deg;
    border: 1px solid #212121;
    width: 33px;
    height: 33px;
    font-weight: 200;
}
.card1btn{
    padding-top: 4px;
    padding-bottom: 4px;
}
.card2btn{
    padding-top: 4px;
    padding-bottom: 4px;
}
.card3btn{
    padding-top: 4px;
    padding-bottom: 4px;
}
.eye2eye1{
    width: 170px;
    height: 170px;
}
.eye2eye2{
    width: 110px;
    height: 110px;
}
.eye2eye3{
    width: 18px;
    height: 18px;
}